/* 
    Created on : 4 juin 2020, 12:02:18
    Author     : Calabuig Nicolas
*/

img.tarif {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

section img {
 width: 70%; /* Bannière sur toute la largeur */
 background-color: white; /* Extension artificielle noire */
 padding-top: 50px; /* du bas de l'image sur 15 pixels */
}
h3{
    color:#1E444F;
        text-align: center;
}