
img.tarif {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

section img {
 width: 70%; /* Bannière sur toute la largeur */
 background-color: white; /* Extension artificielle noire */
 padding-top: 50px; /* du bas de l'image sur 15 pixels */
}
h3{
    color:#1E444F;
        text-align: center;
}
table{
    border-collapse: collapse;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
table td{
    border: 2px solid black;
    padding-top: 16px;
    text-align: center;
 
}
table th{
    border: 2px solid black;
    padding-top: 16px;
    text-align: center;
    font-size: xx-large;
 
}