/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 juin 2020, 12:02:18
    Author     : Calabuig Nicolas
*/

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
}
.carousel-item {
    flex: 1 0 450px;
    margin-left: 1rem;
}