/* 
    Created on : 3 juin 2020, 17:52:46
    Author     : BEJAOUI, BOUTELLIS, CALABUIG, BRISCAS
    Email : BikinToulon@gmail.com
*/
#contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 10px;
}

#contact form fieldset {
    padding: 10px;
}

#coordo legend {
    padding: 0 5px;
    font-weight: bold;
}

#coordo label {
    margin-right: 10px;   
}

#coordo input {
    flex: 1;
}

#coordo fieldset {
    width: fit-content;
    margin: auto;
}

#coordo div {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#coordo input[type="checkbox"] {
    margin-right: 5px;
}

#controles {
    margin-top: 10px;
}

#controles input {
    padding: 10px;
}

#controles input:first-child {
    margin-right: 10px;
}

input:valid, :not(input[type="submit"]) {
    color: green;
}
input:invalid {
    color: red;
}

#coordo div.input-validation {
    margin: 0;
}

input[type="text"]:valid ~ .input-validation::before,
input[type="email"]:valid ~ .input-validation::before {
    content: "✔";
    margin-left: 5px;
    color: green;
}

#logo {
    display: flex; /* Ce conteneur est "flexible" */
    flex-wrap: wrap; /* Les éléments sont placés sur plusieurs lignes */
    margin-bottom: 45px; /* Marge basse (correspond à la hauteur du footer + 10px) */
}

h1 {
    color: #ff6811; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: xx-large; /* Le texte est grossi en XXL */
}

#logo h1 {
    width: 100%; /* Le titre occupe toute la largeur */ 
    margin-bottom: 10px; /* Marge basse */
}

#logo article {
    flex: 1; /* flex-grow: 1 et flex-shrink:1 = Chaque élément occupe l'espace idéal (le + et le - à la fois) */
    height: 256px; /* Hauteur */
    border: transparent thin solid; /* Bordure transparente */
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
}

#gauche:hover, #milieu:hover, #droite:hover {
    border: black thin solid; /* Bordure au passage de la souris */
    border-radius: 10px; /* Bords arrondis au passage de la souris */
    background-color: #ededed; /* Fond au passage de la souris */
}

#gauche {
    background: transparent url('../images/logofb.jpg') no-repeat center 10px; /* Fond */
}

#milieu {
    background: transparent url('../images/logoinsta.jpg') no-repeat center 0; /* Fond */
}

#droite {
    background: transparent url('../images/logoinsta.jpg') no-repeat center 10px; /* Fond */
}

