/* 
    Created on : 3 juin 2020, 10:53:02
    Author     : BEJAOUI, BRISCAS, BOUTELLIS, CALABUIG
    Email : BikinToulon@gmail.com
*/

* {
    font-family: 'Dustismo'; /* Police texte */
    box-sizing: border-box; /* Les tailles de conteneurs incluent bordures et 
                               remplissages */
    margin: 0; /* Mise à  0 des marges externes */
    padding: 0; /* Mise à 0 des marges internes */
    text-decoration: none; /* Suppression de la mise en forme habituelle des liens 
                             (soulignement) */
}

/* Définition de la police "Dustimo" */
@font-face{ 
    font-family: "Dustismo";
    src: url('polices/Dustismo.ttf') format("truetype");
}
body {
    font-size: large; /* Le texte est en L */
}

header, section {
    width: auto; /* taille definit automatiquement */
}
header img {
 width: 100%; /* Bannière sur toute la largeur */

}
nav input {
    display: none; /* élément non affiché */
}

nav ul {
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row; /* les éléments cote à cote */
    justify-content: space-between; /* les éléments séparé par le même espace  */
    background-color: #8D8D8D /* fond menu gris */
}
nav ul li {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /*éléments centrés */
    list-style-type: none; /*  pas de puce */
    font-size: x-large; /* Le texte en XL */
    flex-grow: 1; /* L'espace occupé est élargie */
}

nav ul li a {
    padding: 10px; /* Marge intérieure */
    color: white; /* Couleur du texte menu */
    text-align: center; /* texte centré */
}
nav ul li:hover {
    background-color: #35ABD8; /* fond bleu au passage de la souris */
}

#principal {
    margin-top: 10px; /* Marge supérieure */
    display: flex; /* Ce conteneur est "flexible" */
    text-align: center; /*texte centré */
}

#principal article {
    flex: 1; /*  Chaque élément occupe l'espace idéal */
}

#principal article p {
    padding-top: 16px; /* Marge intérieure supérieure */
}

p {
    text-align: center; /*texte centré */
    font-size: x-large;/* Le texte est  en XL */
    
}
h1 {
    color: #1E444F; /* Couleur du texte : bleu */
    text-align: center; /* texte centré */
    font-size: xx-large; /* Le texte en XXL */
}
h2 {
    color : #D30C27; /* Couleur du texte : rouge */
    text-align: center;/*texte centré */
    font-size : xx-large; /* Le texte est grossi en XXL */
}
h3 { 
    text-align: left; /*texte à gauche */
    color: black; /* Couleur du texte : noir */
    font-size: xx-large; /* Le texte est grossi en XXL */
}


h4 {
    color: #1E444F; /* Couleur du texte : bleu */
    text-align: center; /*texte centré */
    font-size: x-large; /* Le texte est grossi en XXL */
}

h5 {
    color: #C66E6E; /* Couleur du texte : rose */
    text-align: center; /*texte centré */
    font-size: xx-large; /* Le texte est  en XXL */
}

h6 {
    color: black; /* Couleur du texte : noir*/
    font-size: large; /* Le texte est en L */
}

iframe.video {
    display: block;
    margin-left: auto;  /*video centrée */
    margin-right: auto;  /*video centrée */
}
img.logo {
    display: block; /* affichage en bloc */
    margin-left: auto;  /*image centrée */
    margin-right: auto;  /*image centrée */
}
