/* 
    Created on : 5 juin 2020, 17:00:09
    Author     : BEJAOUI, BOUTELLIS, CALABUIG, BRISCAS
    Email : BikinToulon@gmail.com
*/

p,label {
    font: 1rem 'Fira Sans', sans-serif; /* police */
}

input {
    margin: .4rem; /* Marge */
}

#formulaire h1 {
    margin-top: 10px; /* Marge à supérieur */
    text-align: center; /* texte centré */
}

#formulaire form {
    display: flex; /* Ce conteneur est "flexible" */
    flex-wrap: wrap; /*disposition des éléments avec un retour automatique */
    justify-content: space-around; /* Les éléments sont répartis équitablement aux ectrémités on a la moitié de l'espace appliqué entre chaque élément */
    padding-bottom: 50px; /* Marge inférieure */
    margin-top: 10px; /* Marge supérieur*/
}

#formulaire form fieldset {
    padding: 50px; /* Marge intérieure */
}

#recueilinfos legend {
    padding: 0 5px; /* ecart vertical : 0| horizontal: 5 pixels */
    font-weight: bold; /*texte en gras */
}

#recueilinfos label {
    margin-right: 10px; /* Marge à droite */
}

#recueilinfos input, #coordo select {
    flex: 1; /*  Chaque élément occupe l'espace idéal */
}

#recueilinfos div {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: space-between;  /* éléments séparé par le même espace  */
    margin: 10px; /* Marge */
}

#recueilinfos input[type="checkbox"] {
    margin-right: 5px; /* Marge à droite */
}

#recueilinfos #marques label {
    text-transform: capitalize; /* première lettre de chaque mot en majuscule */
}

#recueilinfos fieldset {
    width: fit-content;
    margin: auto; /* Marge auto */
}

#controles {
    margin-top: 10px; /* Marge à supérieur */
}

#controles input {
    padding: 10px; /* Marge intérieure */
}

#controles input:first-child {
    margin-right: 10px; /* Marge à droite */
}

input:valid, :not(input[type="submit"]) {
    color: green;  /* couleur verte si ok */
}
input:invalid {
    color: red; /* couleur rouge si mauvais format */
}

#recueilinfos div.input-validation {
    margin: 0; /* Marge */
}

input[type="text"]:valid ~ .input-validation::before,
input[type="email"]:valid ~ .input-validation::before {
    content: "✔";
    margin-left: 5px; /* Marge gauche */
    color: green; /* couleur verte si ok */
}