/* 
    Created on : 3 juin 2020, 22:12:23
    Author     : BEJAOUI, BOUTELLIS, CALABUIG, BRISCAS
    Email : BikinToulon@gmail.com
*/

#carte img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#carte p {
    text-align: center;
    font-size: large;
}

#carte h2 {
    text-align: center;
    font-size: xx-large;
    color: red;
}

