/* 
    Created on : 3 juin 2020, 22:12:23
    Author     : BEJAOUI, BOUTELLIS, CALABUIG, BRISCAS
    Email : BikinToulon@gmail.com
*/

#carte img {
    display: block; /* affichage en bloc */
    margin-left: auto; /* Marge à gauche */
    margin-right: auto; /* Marge à droite */
}

#carte p {
    text-align: center; /*texte centré */
    font-size: large; /* Le texte est en L */
}

#carte h2 {
    text-align: center; /*texte centré */
    font-size: xx-large; /* Le texte est en XXL */
    color: #D30C27; /* Couleur du texte : rouge */
}

