
/* 
    Created on : 5 juin 2020, 17:12:43
    Author     : BEJAOUI, BOUTELLIS, CALABUIG, BRISCAS
    Email : BikinToulon@gmail.com
*/

@media screen and (max-width:576px) { /* l'adaptation sur écran se fait sur: */
    body {
 font-size: large;
}
header, section {
 width: auto;
}
header img {
 width: 100%; 
 background-color: black; 
 padding-bottom: 15px;
}
nav {
 position: relative;
 top: 7px;
 left: 7px;
 z-index: 1;
}
nav ul {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 position: absolute;
 margin: -39px 0 0 -60px;
 padding: 50px 10px 10px 60px;
 background: black;
 list-style-type: none;
 transform: translate(-100%, 0);
}
nav ul li {
 display: list-item;
 padding: 10px 0;
 width: auto;
 }
nav input {
 display: block;
 position: absolute;
 opacity: 0;
 z-index: 2;
}
nav span {
 display: block;
 width: 30px;
 height: 5px;
 margin-bottom: 5px;
 position: relative;
 background: black;
 border-radius: 3px;
 z-index: 1; 
}
nav input:checked ~ span {
 background: white;
}
nav input:checked ~ span:nth-child(2) {
 transform: rotate(45deg) translate(7px, 5px);
}
nav input:checked ~ span:nth-child(4) {
 transform: rotate(-45deg) translate(10px, -6px);
}
nav input:checked ~ span:nth-child(3) {
 opacity: 0;
}
nav input[type=checkbox]:checked + ul{
 transform: none;
}
#principal {
        flex-direction: column;
        margin: 0 10px;
    }

 #principal article img {
        float: left;
        margin-right: 10px;
        margin-top: 15px;
    }

    #principal aside {display: none;}

    h1 {
        font-size: x-large;
    }

    #thematique {   
        flex-direction: column;
        margin-top: 15px;
    }

    #gauche, #milieu, #droite {
        background-size: contain;
        background: none;
    }
    
    footer {
        display: none;
    }
    div img{
       max-width: 50%;
       
    }
    h5 {
    color: #C66E6E;
    text-align: center;
    font-size: x-large;
}
h3 { 
    text-align: left;
    color: black;
    font-size: large;
}
div l img{
       max-width: 50%;
       
    }
    #coordo input, #coordo select {
    flex: 1;
    font-size:xx-small;
}
.carousel-items {
    overflow-x: scroll;
    padding: 1rem 0;
}
.carousel-item {
    flex: 1 0 450px;
    margin-left: 1rem;
}
}