#sécurité img {
    display: block;
    margin-left: auto;
    margin-right: auto 
}
img.cadran {
    display: block;
    margin-left: 100px;
    margin-right: auto 
}

#rappel p {
    padding-top: 16px; /* Marge intérieure supérieure */
}
