
/* 
    Created on : 4 juin 2020, 16:11:58
  Author     : BEJAOUI, BOUTELLIS, CALABUIG, BRISCAS
    Email : BikinToulon@gmail.com
*/


#video {
 display: flex; /* Ce conteneur est "flexible" */
}
#video img, #video article p, #video iframe {
 padding-top: 16px; /* hauteur de la marge superieur */

}
#video img {
 float: left; /* élément placé à gauche */
}
#video article {
 width: 50%; /* taille definit sur 50% de l'écran' */
 padding-right: 10px; /* hauteur de la marge à droite */
}
#video article p span {
 color: red; /* couleur rouge */
 font-weight: bold; /* texte en gras */
}
#video article p {
 text-align: center; /*texte centré */
}
#video article p {
 padding-right: 10px; /* hauteur de la marge à droite */
 text-align: justify; /* alignement horizontal justifié */
}
